body{
    margin: 0;
    padding: 0;
}
.cred-container{
    background-color: rgb(67, 68, 71);
    margin-top: 100pt;
    padding: 20pt;
    color: #fff;
    border-radius: 5pt;
}
.brand{
    color: #fff;
}
.brand:hover{
    color: #fff;
}
.error{
    color: red;
    font-size: .8em;
}
.comment-box{
    width: 50em;
    height: 20em;
}